/* Global */
/* Homepage */
/* Cars Page */
/* Bikes Page */
/* Post Page */

body{
    margin:0;
    padding:0;
}

.container {
    display: contents;
    height: 140vh;
    margin: 0%;
    
}
 
.container-left{
     width: 0%;
     background-color:white;
     padding-left: 0px;
}
 
.container-right{
    width: 140%;
    background-color:#707B7C ;
    padding: 1rem;
    border: right width 0px;;
}

.menu{

}

.menu-item{
    display:block;
    margin-bottom:1rem;
    background-color: #00ffff;
    border: 1px solid ;
    text-align: center;
}

.ferraris-img{
    width:80%;
    height:70%;
}

/* Bio */
.text-bio{
    font-size:x-large;
    font-family:italic;
    font-weight:normal;
    text-align: justify;
    line-height: 2 ;
}

.bio-img{
    width: 70%;
    height: 60%;
    margin:0 auto;
    display: block;
    
}

/* Contacto */
 h2{
    margin-top:0;
    
 }

.form-control{
    display: block;
    margin: 2rem 0 ;
 }

 .form-buttom{
    display:block;
 }


.error{
    color:#ff0000;
    display: none;                      /*solo se muestra cuando se produce un error*/
} 

.show-error{
    display:block;
}

.cancer{
    margin: 5px;
}