/* Global */
body{
    margin:0;
    padding:0;
    background-color:#dfebec;        
}

.container {
    display: contents;
    height: 140vh;
    margin: 0%;
    
}
 
.container-left{
     width: 0%;
     background-color:white;
     padding-left: 0px;
}
 
.container-right{
    width: 100%;
    padding: 1rem;
    border: right width 0px;
    text-align: center;
    box-sizing: border-box;
    position:relative;
}

.home-img {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 5px;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.home-title {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 50px
  }

  table {
    margin: auto; /* Centrar la tabla en la pantalla */
    border-collapse: collapse;
  }

  th, td {
    padding: 40px 70px;
    border: 1px solid black;
    text-align: center;
    vertical-align:top;
  }

  th {
    background-color: #ccc;
  }

  #info-personal, #experiencia {
    margin:15px;
    padding:2px 16px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.342);
    transition: 0.5s;
    border-radius: 10px;
  }


        /* nav bar */
        .container-fluid {
            background-color: #405052cc;
            font-size: 120%;
        } 

        .navbar {
            --bs-navbar-padding-x: none !important;
            --bs-navbar-padding-y: none !important;
        }

        .nav-link {
            --bs-nav-link-color: #ffffff !important;
            --bs-nav-link-hover-color: #bb9f00 !important;
        }

        .nav-link,.active {
            color: #ffffff;
        }
        
        .navbar-brand {
            color: #f8ffd1 !important;
            font-size: 105% !important;
        }
        /*----------------------------*/

        /* Products attibutes */
        #page-content-cars, #page-content-bikes {
            display: flex;
            flex-wrap: wrap;
            justify-content:space-evenly;

        }

        .button-ask {
            font-size:16px;
            text-align: center;
            background-color: #ffffff;
            color:#000000;
            padding: 4px 20px;
            border:2px solid #4CAf50;
            transition-duration: 0.4s;
            border-radius: 3px;

        }
          
        .button-ask:hover {
            background-color: #41c445; /* Green */
            color: white;
            border-radius: 7px;
        }
        
        .item-container {
            margin:15px;
            padding:2px 16px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 5px;
        }
        .item-container img{
            width: 300px;
            border-radius: 3px 3px 0 0;
        }

        .item-container:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }

/* Homepage */
/* Cars Page */
/* Bikes Page */
/* Post Page */

        h2.postTitle {
            text-align: center; /*no funca y no sé por qué*/
        }

        form.postIt {
            max-width: 70%;
            max-height: 70%;
            margin: 50px 50px 50px 200px; 
        }





/*-------------------------------------------------------------------------------------------------------------------------*/

.menu-item{
    display:block;
    margin-bottom:1rem;
    background-color: #00ffff;
    border: 1px solid ;
    text-align: center;
}

.home-img{
    width:80%;
    height:70%;
    align-items: center;
}

/* Bio */
.text-bio{
    font-size:x-large;
    font-family:italic;
    font-weight:normal;
    text-align: justify;
    line-height: 2 ;
}

.bio-img{
    width: 70%;
    height: 60%;
    margin:0 auto;
    display: block;
    
}

/* Contacto */
 h2{
    margin-top:0;
    
 }

.form-control{
    display: block; 
    margin: 2rem 0 ;
 }

 .form-buttom{
    display:block;
 }


.error{
    color:#ff0000;
    display: none;                      /*solo se muestra cuando se produce un error*/
} 

.show-error{
    display:block;
}

.cancer{
    margin: 5px;
}




form {
    background-color:#dfebec;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-size: 18px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  select,
  textarea {
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  select {
    width: 200px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }