html 
    head    
        title= titulo 
        link(rel="stylesheet", href="styles.css")
    body 
        div.conteiner
            form(action="/submit" method="post")
            
            label(for="email") Email :
            input(type="email" id="email" name="email")
            br
            label(for="brand") Brand:
            input(type="text" id="brand" name="brand")
            br
            label(for="model") Model:
            textarea(id="model" name="model")
            br
            label(for="year") Year:
            textarea(id="year" name="year")
            br
            
            label(for="kms") Kms:
            input(type="number" id="kms" name="kms")
            br
            
            label(for="year") Year:
            textarea(id="year" name="year")
            br

            label(for="fuel") Fuel :
             select(name="fuel" id="fuel")
                 option(value="Petrol") Petrol
                 option(value="Diesel") Diesel
                 option(value="Gas") Gas 
                 option(value="Electric") Electric
            br 

            label(for="price") Price :
            textarea(id="price" name="price")
            br

            label(for="photo") Describa la foto :
            textarea(id="photo" name="photo")
             

            label(for="description") Description :
            textarea(id="description" name="description")
             

            button(id="btnAgregar") Agregar vehiculo
            each vehiculo in vehiculos  
                p= `${vehiculo.brand} -- ${vehiculo.model}`

    script(src="funciones.js")